@import url(./_valid/button__submit_valid.css);
@import url(./_invalid/button__submit_invalid.css);

.button__submit {
  height: min(56.57px, 12vw);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  outline: none;
}
