.select__icon {
  pointer-events: none;
  position: absolute;
  top: 16px;
  right: 16px;
  width: 30px;
  height: 24px;
  background-image: url(../../../images/select.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 10;
}
